<app-header></app-header>
<section>
  <div class="container">
    <form [formGroup]="listForm">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="title">Title<sup class="text-danger">*</sup></label>
          <input formControlName="title" type="title" class="form-control" id="title" placeholder="The Five People You Meet in Heaven">
          <span *ngIf="titleError" class="text-danger">Please enter the title</span>
        </div>
        <div class="form-group col-md-6">
          <label for="author">Author<sup class="text-danger">*</sup></label>
          <input formControlName="author" type="text" class="form-control" id="author" placeholder="Mitch Albom">
          <span *ngIf="authorError" class="text-danger">Please enter the author</span>
        </div>
        <div class="form-group col-md-12">
            <label for="note">Note<sup class="text-danger">*</sup></label>
            <textarea formControlName="note" class="form-control" id="note" placeholder="The Five People You Meet In Heaven is a novel by Mitch Albom. It follows the life and death of a man named Eddie who is killed and sent to heaven, where he encounters five people who had a significant impact upon him while he was alive." rows="5"></textarea>
            <span *ngIf="noteError" class="text-danger">Please enter the note</span>
          </div>
      </div>
      <button type="submit" class="btn btn-primary" (click)="saveNote()">Save</button>
    </form>
  </div>
</section>
