<section>
  <div class="_body">
    <form [formGroup]="loginForm" class="form-signin" autocomplete="off">
      <!--  <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72"
            height="72"> -->
      <h1 class="h3 mb-3 font-weight-normal">Sigin</h1>
      <label for="email" class="sr-only">Email address<sup class="text-danger">*</sup></label>
      <input type="email" formControlName="email" id="email" class="form-control" placeholder="Email address" required
        autofocus>
      <span *ngIf="emailError" class="text-danger">Email is required</span>
      <label for="password" class="sr-only">Password<sup class="text-danger">*</sup></label>
      <input type="password" id="password" formControlName="password" class="form-control" placeholder="Password"
        required autofocus>
      <span *ngIf="passwordError" class="text-danger">password is required</span>
      <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="signInAttempt()">Sign in</button>
      <p class="mt-5 mb-3 text-muted">New user?<button type="button" class="btn btn-link"
          [routerLink]="['/signup']">Register Here</button></p>
    </form>
  </div>
</section>
