<app-header></app-header>
<ngx-spinner></ngx-spinner>
<section>
  <div class="container" style="margin-top: 2%;">
    <div class="row">
        <button class="btn btn-info" [routerLink]="['/users/add-note']">Add Note</button>
    </div>
    <div class="row">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Note</th>
            <th scope="col">Created On</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let list of noteList">
            <th scope="row">{{ list?.title | titlecase }}</th>
            <td>{{ list?.author | titlecase }}</td>
            <td>{{ list?.note }}</td>
            <td>{{ list?.created_on | date: 'short' }}</td>
            <td>
              <button class="btn btn-info" (click)="editNote(list?._id)">Edit</button>&nbsp;
              <button class="btn btn-danger" (click)="deleteNote(list?._id)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</section>
