<section>
  <div class="_body">
    <form [formGroup]="signUpForm" class="form-signin" autocomplete="off">
      <!--  <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72"
        height="72">-->
      <h1 class="h3 mb-3 font-weight-normal">Register</h1>
      <label for="name" class="sr-only">Name</label>
      <input type="text" formControlName="name" id="name" class="form-control" placeholder="Name" autofocus>
      <span *ngIf="nameError" class="text-danger">Please enter the name</span>

      <label for="email" class="sr-only">Email address</label>
      <input type="email" formControlName="email" id="email" class="form-control" placeholder="Email address" autofocus>
      <span *ngIf="emailError" class="text-danger">Please enter the email</span>

      <label for="password" class="sr-only">Password</label>
      <input type="password" formControlName="password" id="password" class="form-control" placeholder="Password"
        autofocus>
      <span *ngIf="passwordError" class="text-danger">Please enter the password</span>

      <label for="confirmPassword" class="sr-only">Confirm Password</label>
      <input type="password" formControlName="cPassword" id="confirmPassword" class="form-control"
        placeholder="Confirm Password" autofocus>

      <button class="btn btn-lg btn-primary btn-block" type="button" (click)="registerUser()">Register</button>
      <p class="mt-5 mb-3 text-muted">Already Registered? <button type="button" class="btn btn-link"
          [routerLink]="['/']">Sign in</button></p>
    </form>
  </div>
</section>
